@using MailKit
@model MailViewModel
@{
    ViewData["Title"] = "Home Page";
    var nextPage = Model.CurrentPage + 1;
    var prevPage = Model.CurrentPage - 1;
}

<div class="container">
    <div class="row">
        <div class="col-2">
            @if (Model.Mails.Count == 0)
            {
                <div class="badge bg-primary text-wrap" style="width: 6rem;">Нет добавленных почтовых ящиков</div>
            }


            @foreach (var item in Model.Mails)
            {
                <form asp-controller="Home" asp-action="Index" method="get">
                    <button type="submit" class="btn btn-primary">@($"{item.Email}  {item.Server}")</button>
                    <input hidden="hidden" asp-for="SelectedEmail" value="@item.Email"/>
                    <input hidden="hidden" asp-for="FolderName" value="@Model.FolderName"/>
                    <input hidden="hidden" asp-for="Server" value="@item.Server"/>
                </form>
            }

        </div>

        <div class="col">
            @if (string.IsNullOrEmpty(Model.SelectedEmail) == false)
            {
                <div class="row">
                    <div class="col">
                        <form asp-controller="Home" asp-action="Index" method="get">
                            <button type="submit" class="btn btn-primary">Входящие</button>
                            <input hidden="hidden" asp-for="SelectedEmail" value="@Model.SelectedEmail"/>
                            <input hidden="hidden" asp-for="FolderName" value="INBOX"/>
                            <input hidden="hidden" asp-for="Server" value="@Model.Server"/>
                        </form>
                    </div>
                    <div class="col">
                        <form asp-controller="Home" asp-action="Index" method="get">
                            <button type="submit" class="btn btn-primary">Исходящие</button>
                            <input hidden="hidden" asp-for="SelectedEmail" value="@Model.SelectedEmail"/>
                            <input hidden="hidden" asp-for="FolderName" value="@SpecialFolder.Sent"/>
                            <input hidden="hidden" asp-for="Server" value="@Model.Server"/>
                        </form>
                    </div>
                    <div class="col">
                        <form asp-controller="Home" asp-action="Index" method="get">
                            <button type="submit" class="btn btn-primary">Спам</button>
                            <input hidden="hidden" asp-for="SelectedEmail" value="@Model.SelectedEmail"/>
                            <input hidden="hidden" asp-for="FolderName" value="@SpecialFolder.Junk"/>
                            <input hidden="hidden" asp-for="Server" value="@Model.Server"/>
                        </form>
                    </div>
                    <div class="col">
                        <form asp-controller="Home" asp-action="Index" method="get">
                            <button type="submit" class="btn btn-primary">Удаленные</button>
                            <input hidden="hidden" asp-for="SelectedEmail" value="@Model.SelectedEmail"/>
                            <input hidden="hidden" asp-for="FolderName" value="@SpecialFolder.Trash"/>
                            <input hidden="hidden" asp-for="Server" value="@Model.Server"/>
                        </form>
                    </div>

                </div>
            }
            <div class="container">
                @if (Model.IncomingMails == null)
                {
                    <p class="text-lg-center">Нет полученных сообщений</p>
                }
                else
                {
                    @foreach (var item in Model.IncomingMails)
                    {
                            <form asp-controller="Home" asp-action="OpenBody" method="post">
                        <div class="row">
                                <button type="submit" class="btn btn-lg btn-block border-5 border-primary">
                                    <div class="col">@item.From</div>
                                    @if (string.IsNullOrEmpty(@item.Subject))
                                    {
                                        <div class="col">(Без темы)</div>
                                    }
                                    else
                                    {
                                        <div class="col">@item.Subject</div>
                                    }
                                    <div class="col">@item.GetAt</div>
                                </button>
                                <input hidden="hidden" asp-for="Subject" value="@item.Subject"/>
                                <input hidden="hidden" asp-for="From" value="@item.From"/>
                                <input hidden="hidden" asp-for="Body" value="@item.Body"/>
                                <input hidden="hidden" asp-for="GetAt" value="@item.GetAt"/>
                        </div>
                            </form>
                    }

                    <div class="row">
                        <div class="col">
                            <form asp-controller="Home" asp-action="Index" method="get">
                                <button type="submit" class="btn btn-primary" @(prevPage < 1 ? "disabled" : "")>Назад</button>
                                <input hidden="hidden" asp-for="SelectedEmail" value="@Model.SelectedEmail"/>
                                <input hidden="hidden" asp-for="FolderName" value="@Model.FolderName"/>
                                <input hidden="hidden" asp-for="Server" value="@Model.Server"/>
                                <input hidden="hidden" asp-for="CurrentPage" value="@prevPage"/>
                            </form>
                        </div>
                        <div class="col">
                            <div class="text-bg-success mb-3">@Model.CurrentPage</div>
                        </div>
                        <div class="col">
                            <form asp-controller="Home" asp-action="Index" method="get">
                                <button type="submit" class="btn btn-primary" @(nextPage >= Model.PagesCount ? "disabled" : "")>Дальше</button>
                                <input hidden="hidden" asp-for="SelectedEmail" value="@Model.SelectedEmail"/>
                                <input hidden="hidden" asp-for="FolderName" value="@Model.FolderName"/>
                                <input hidden="hidden" asp-for="Server" value="@Model.Server"/>
                                <input hidden="hidden" asp-for="CurrentPage" value="@nextPage"/>
                            </form>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>